<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        p {
            width: 100px;
            height: 100px;
            float: left;
        }
        p#red {
            background-color: red;
        }

        p#blue {
            background-color: blue;
            float:right;
        }
    </style>
</head>

<body>
    <p id="red">This is a paragraph</p>
    <p id="blue">This is a paragraph</p>
</body>

</html>